:root {
    --main-color: #ff84c1;
    --second-color: #fee693;
    --third-color: #91b4ce;
    --fourth-color: #779a55;
    --fifth-color: black;
    --sixth-color: white;
    --black: #black;
    --bg: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem; 
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--fourth-color);
    border-radius: 5rem;
}

body {
    background-color: var(--main-color);
}

section {
    padding: 2rem 7%;
}

/* HEADER SECTION */

.header {
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: fit-content;
    z-index: 1000;
}

.img-logo {
    max-width: 50px;
    margin: 30px;
}

.header .navbar a {
    margin: 80px;
    font-size: 20px;
    font-weight: bold;
    color: var(--third-color);
}

.header .navbar a:hover{
    color: var(--fourth-color);
    border-bottom: .1rem solid var(--fourth-color);
    padding-bottom: .5rem;
}

.header .icons div {
    cursor: pointer;
    font-size: 24px;
    margin-left: 2rem;
    color: black;
}

#home h3{
    font-weight: bolder;
}

#home p {
    color: white;
    font-weight: bold;
}

.header .cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    padding: 0 1.5rem;
}

.header .cart.active {
    right: 0;
}

.header .cart .cart-item {
    position: relative;
    max-width: 40px;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart .cart-item img {
    height: 7rem;
}

.header .cart .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}
 
.header .cart .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--fourth-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
    background-color: var(--main-color);
}

.header .cart .btn {
    width: 100%;
    text-align: center;
}

/* CART SECTION */

.cart-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    max-width: 80px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cart-price {
    font-size: 1.7rem;
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--black);
    outline-color: var(--main-color);
    width: 5rem;
    text-align: center;
    font-size: 2rem;
}

.cart-remove {
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
}

.cart-remove:hover {
    color: var(--second-color);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--bg);
}

.total-title {
    font-size: 2rem;
}

.total-price {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.btn-buy {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

.btn-buy:hover {
    letter-spacing: .2rem;
}

/* BLOGS SECTION */

.blogs {
    background-color: #91b4ce;
    padding: 100px;
    align-items: center;
}
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 200px;

}

.blogs .box-container .box {
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs h1 {
    margin-bottom: 100px;
    font-weight: bolder;
    color: white;
    font-size: 30px;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.blogs .box-container .box .content .title:hover {
    color: var(--fourth-color);
}

.blogs .box-container .box span {
    color: white;
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: black;
    padding: 1rem 0;
}

/* HERO SECTION */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #ff84c1;
}

.home h1 {
    font-weight: bolder;
    color: white;
    font-size: 30px;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--sixth-color);
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

/* CONTACT US SECTION */

.contact {
    background-color: var(--main-color);
}
.contact .row {
    display: flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact h1 {
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: bolder;
    color: white;
    font-size: 30px;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

#map {
    max-width: 450px;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact #bi-bi-send {
    font-size: 30px;
    color: white;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.contact .row form .inputBox textarea {
    width: 100%;
    height: 200px;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.contact .btn {
    background-color: var(--fourth-color);
    border-radius: 2.5rem;
    padding: 8px;
    width: 700px;
}

/* MENU SECTION */

.menu {
    background-color: #ff84c1;
    padding-bottom: 80px;
}

.menu h1 {
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-bottom: 80px;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 12px;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background-color: #fff;
}

.menu .box-container .box:hover >* {
    color: var(--black);
}

/* FOOTER SECTION */


.footer {
    background-color: var(--main-color);
    padding: 30px
}

.footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .logo img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
}

.footer .logo h3 {
    font-size: 4rem;
    color: white;
}

.footer .logo i {
    font-size: 2rem;
    color: white;
    margin-right: 5px;
    margin-top: 1rem;
}

.footer .logo p {
    display: inline-block;
    margin: 0;
    font-size: 1.5rem;
    color: white;
    vertical-align: middle;
    text-transform: none;
}

.footer .support, 
.footer .company,
.footer .newsletters  {
    flex: 0 0 calc(25% - 30px);
}

.footer .support h2, 
.footer .company h2,
.footer .newsletters h2  {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.footer .support a, 
.footer .company a,
.footer .newsletters a  {
    display: block;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}

.footer .support a:hover, 
.footer .company a:hover,
.footer .newsletters a:hover  {
    color: var(--third-color);
}

.footer .newsletters p {
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.7rem;
}

.footer .newsletter {
    color: black;
    border-radius: 2.5rem;
    font-size: 10px;
    background-color: var(--second-color);
    padding: 8px;
    width: 220px;
}  

.newsletter::placeholder {
    color: black;
    border-radius: 2.5rem;
    font-size: 10px;
    background-color: var(--second-color);
    padding: 8px;
    width: 220px;
}

.footer .input-wrapper {
    position: relative;
}

.fas.fa-paper-plane {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.footer .credit {   
    font-size: 2rem;
    color: white;
    font-weight: lighter;
    margin-top: 30px;
    padding: 1rem;
    flex: 0 0 100%;
    text-align: center;
}

.footer .credit h2 {
    font-weight: lighter;
    font-size: 1.7rem;
    margin-top: 1rem;
}

.footer .credit span {
    color: var(--second-color);
}

.footer .credit hr {
    color: var(--second-color);
}

/* MEDIA QUERIES */
@media (max-width:991px){
    html { 
        font-size: 55%; 
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px){
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0%;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 14px;
    }

}

@media (max-width:450px){
    html { 
        font-size: 50%; 
    }
}